<table>
  <% @links.each do |link| %>
    <tr>
      <td><%= link_to link.title, link %></td>
      <% if user_signed_in? and link.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <%= link_to 'New Link', new_link_path %>
<% end %>
